ol {
  padding: 30px;
  background-color: gery;
  color: red;
  margin: auto;
  display: inline-block;
  font-style: arial;
  font-size: 12px;
}

ol li {
  padding: 10px;
  background-color: gery;
  color: red;
  border: 3px dashed black;
  margin: auto;
  font-style: armenian;
  font-size: 12px;
  padding: 10px;
}

body {
  font-family: arial helvetica san-serif;
}

html {
  margin: auto;
  width: auto;
  border: 10px dashed yellow;
  padding: 10px 20px;
  text-transform: capitalize;
  background-color: lightblue;
}

h1,
h2,
h3,
p {
  background-color: lightgreen;
  text-transform: capitalize;
  padding: 5px;
  margin: auto;
}

button {
  background-color: pink;
  text-transform: capitalize;
  padding: 5px;
  margin: auto;
  width: 200px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.reset,
.submit {
  background-color: red;
  text-transform: capitalize;
  padding: 5px;
  margin: auto;
  border-radius: 5px;
  word-spacing: 90px;
  border: none;
}

.top {
  text-decoration: none;
  padding: 0 0 0 0;
  color: navy;
  text-transform: capitalize;
  line-height: 80px;
  letter-spacing: 4px;
}

.copyrights {
  background-color: lightblue;
  text-shadow: 1px 1px 9px black;
}
